body { 
    font-family: sans-serif; 
    background-color: black;
    }

p {
    color: white; 
    margin-top:20px;
    margin-left: 100px;
    margin-bottom:0px;
    border:2px solid burlywood;
    width: 50%;
    }

a {
    text-decoration: overline underline; 
}
    
h2 { 
    font-weight: bold; 
    text-align: center;
    Background-color: salmon;
    Margin-top:0px;
    margin-bottom:0px; }

ul { 
    margin: 60px;
    }  

.img {
    padding: 0px;
    width: 1000px;
    height: 100%;
    margin-left: 30px;

}

 .inline {
    margin-top: 25px;
    margin-left: 25px;
}

.mypar {
    font-family:monospace;
  font-style: normal;
  font-weight: 400;
}
