body {
    background-color: black;
}

.container {
    width: 100%;
    height: 100%;
}
.one {
    width: 50%;
    background-color: red;
    float: left;
    height: 50%;
    border-top-left-radius: 5%;
  
}

.two {
    background-color: gold;
    width: 50%;
    float: right;
    height: 50%;
    border-top-right-radius: 5%;
    
}

.three {
    background-color: grey;
    width: 50%;
    float: right;
    height: 50%;
    border-bottom-right-radius: 5%;
}

.four {
    background-color: blue;
    width: 50%;
    float: right;
    height: 50%;
    border-bottom-left-radius: 5%;
}

.content {
    width: 60%;
    height: 70%;
    background-color: salmon;
    position: absolute;
    top: 25%;
    left: 25%;
}

.buttonDiv{
    position: absolute;
    margin-top: 200px;
    margin-left: 49%;

}

a {
    text-decoration: overline underline; 
}
    
h2 { 
    font-weight: bold; 
    text-align: center;
    Background-color: salmon;
    Margin-top:0px;
    margin-bottom:0px;}

ul { 
    margin: 60px;
    }  


img {
    margin-top:100px;
    width: 10%;
    height: 15%;
    margin-bottom: 50px;
}

.godaddy2 {
    margin-left: 35%;
}

.godaddy1 {
    margin-left:200px;
}

 .inline {
    margin-top: 25px;
    margin-left: 25px;

}

.mypar {
    font-family:monospace;
    font-style: normal;
    font-weight: 400;
}

.leftcontent{
    background-color:goldenrod;
    width: 40%;
    float: left;
    border-style: solid;
    border-color: black;
    position: absolute;
    height: 30%;
    margin-left: 3%;

}

.contentpar {
    display: inline-block;
    text-align: center;
    width: 100%;
}


.lastLine{
    position: absolute;
    top: 575px;
    left: 40%;

}
